/.gradle
/build/tmp
/build/classes
/api/build
/build/resources
/build/reports
/build/kotlin
build/libs/OnixAnticheat-1.0.jar
/build
/abobatests/build
/build/*
.idea
.gradle
\.gradle
build
*.html
/build/kotlin/compileKotlin
*.tab_i
*.tab
data.txt
/.gradle
.gradle/8.11/checksums/md5-checksums.bin
.gradle/8.11/checksums/sha1-checksums.bin
.gradle/8.11/fileHashes/fileHashes.bin
.idea/modules.xml
.gradle/file-system.probe
